spring:
  datasource:
    url: jdbc:mysql://mysql:3306/ptcmss_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
server:
  port: 8080
management:
  endpoints:
    web.exposure.include: health,info
